.tooltip {
  position: absolute;
  z-index: 1;
  display: none;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 13px;
  border-style: solid;
  border-width: thin;
  border-color: white;
}

#map{
  width: 70% !important;
  border: 20px solid #304ebb8e; /* Ramka o grubości 5px w kolorze czarnym */
  padding: 10px; /* Opcjonalne: odstęp między ramką a mapą */
  border-radius: 16px; /* Zaokrąglone rogi panelu */
  margin-bottom: 50px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0); /* Delikatny cień wokół pola */
  margin: 0 auto;
}

#latlng, #submit-map {
  height: 0;
  width: 0;
  opacity: 0;
}

#title-PawsOnDuty{
  padding-top: 2%;
  padding-left: 3%;
}


html {
  display: flex;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;  
  min-height: 100vh;
  flex-direction: column;
  color: #17255a;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background:#436cff56;
}
p {
  margin: 0px;
  padding: 0px;
  text-shadow: none;
  width: 500px;
  font-size: 25px;
}

h1{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
}
header {
  display: flex; /* or inline-flex */
  flex-direction: row;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: -5px;
  color: white;
  background-color: #142252;
  text-decoration: none;
  height: 108px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ustawienie z-index aby nagłówek był nad innymi elementami */
}

#logo{
  padding-top: -15px;
  padding-right: 8px;
}

#header{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding-top: 10px;
}
.important, .important-end{
  display: flex;
  flex-direction:column;
  align-items: center;
  gap: 10px;
  font-size: 38px;
  color: #17255a;
  font-weight: bold;
  text-align: center;
  width:60%;
  margin: 0 auto;
}

.important {
  margin-top: 100px;
}

#menu 
{ display: none; 
height: 75px;
width: 75px;
}
nav{
  position: absolute;
  right: 0;
  display: flex;
  column-gap: 75px;
  padding-right: 200px;
  padding-top: 27px;
  padding-bottom: 15px;
  float: right;
}
main {
  display: flex; /* or inline-flex */
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  gap: 20px;
  margin: 0 auto;
}

.form-container {
  display: flex;
  justify-items:center;
}

#mainlog{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#log{
  margin-top: 120px;
}

.title {
  margin-left: 15px;
  font-weight: bold;
  font-size: 46px;
  margin-bottom: 0px;
}
h5 { margin-top: 5px; }

#link1, #link2, #link3, #link4{
color: #ffffff;
font-size: 20px;
justify-content: center;
}

#link1:hover, #link2:hover, #link3:hover, #link4:hover  {
  color: #ffffff; /* Przyciemnienie koloru tekstu */
  font-weight: 600;
}

.link {
  text-align: center;
}

#name{
  color: #ffffff;
  font-size: 20px;
  justify-content: right;
}

#div {
  display: flex;
  flex-grow: 1;
  color: white;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sign {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.text-place h1,.text-place p, .text-description h1, .text-description p, .text-witnesses h1, .text-witnesses p, .text-civil h1, .text-civil p{
  text-align: left;
  margin-left: 50px;
}

.text-civil {
  margin-right: 40px; /* Centrowanie w poziomie */
}

.text-time h1, .text-time p, .text-perpetrators h1, .text-perpetrators p, .text-photos h1, .text-photos p{
  text-align: right;
}


label {
  text-align: right;
  margin-right: 10px;
  flex: 0 0 100px; /* Szerokość etykiety */
}
/*   
input {
  flex: 1; /* Rozciąga pole formularza, aby wypełnić dostępną przestrzeń
} */
.zgloszenia {
  border-collapse: collapse;
}


.zgloszenia th:first-child {
  border-top-left-radius: 16px;
}

.zgloszenia th:last-child {
  border-top-right-radius: 16px;
}

.zgloszenia tr:last-of-type td:first-child {
  border-bottom-left-radius: 16px;
}

.zgloszenia tr:last-of-type td:last-child {
  border-bottom-right-radius: 16px;
}

@media all and (max-width: 900px) {
  .zgloszenie {
    width: 100%;
    border-collapse: collapse;
    height: 1200px;
    padding: 0 0;
    margin: 0 auto;
  }

  .zgloszenie th, .zgloszenie td {
    font-size: 25px !important;
  }

  .panel-table-report {
    margin-left: 0px;
    margin-right: 0px;
  }

  #edit-button, #current-status, #no-hover-td, .suspects-table th, .suspects-table tr, #no-hover-td h3, .suspect-button {
    font-size: 25px;
    width:auto;
    height: auto;
  }

  #report-come-back-button { 
    width: 100px;
    height: auto;
    font-size: 25px;
  }
}

.zgloszenie {
  width: 100%;
  border-collapse: collapse;
}


.zgloszenie tr:first-of-type th:first-child {
  border-top-left-radius: 16px;
}

.zgloszenie tr:first-of-type td {
  border-top-right-radius: 16px;
}

.zgloszenie tr:last-of-type td {
  border-bottom-right-radius: 16px;
}
.zgloszenie tr:last-of-type th {
  border-bottom-left-radius: 16px;
}

.zgloszenie th {
  background-color: #378e25;
  color:#ffffff;
  width: 25%;
}


.chatbot{
  display: flex;
  flex-direction:column;
  justify-content:space-between;
  margin-top: 8%;
  width: 80vw;
  height: 75vh;
  align-items: center; /* Ustawienie w poziomie */
}

.chatbot-title {
  display: flex;               /* Użycie flexboxa */
  float:inline-start;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;      /* Ustawienie kierunku na kolumnę */
  position: fixed;
  top: 100px;
  background-color: #BFCDFF;
  padding-bottom: 2vh;
}

.common-input-style {
  flex: 1; /* Element zajmuje dostępne miejsce */
  left: 0;
  top: -12px;
  align-items: center;
  text-align: left;
  margin-bottom: 15px; /* Odstęp poniżej każdego pola */
  border-radius: 20px; /* Zaokrąglone rogi pola */
  font-size: 20px; /* Rozmiar czcionki pola */
  border-color: #ffffff;
  color: #768cd194;
  box-sizing: border-box;
  z-index: 2;
  outline: none; /* Usunięcie domyślnego podświetlenia przeglądarki */
  box-shadow: 0 0 7px #378e25; /* Delikatny cień wokół pola */
  min-width: 0;
}

.send-sign {
  border-right: transparent;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 60px solid #378e25; /* Trójkąt */
  background-color: transparent;
  cursor: pointer;
  position: relative;
  outline: none;
  transition: transform 0.5s ease;
  margin-top: -2vh;
  height: 100%;
  z-index: 2;
}

.send-sign::before {
  content: '';
  position: absolute;
  top: -22px;
  left: -52px; /* Dopasowanie do pozycji trójkąta */
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 60px solid #378e2555; /* Cień */
  filter: blur(6px); /* Rozmycie cienia */
  z-index: 0;
  filter: blur(5px); /* Dodanie rozmycia do cienia */
  transition: transform 2s ease;
  transition: opacity 0.3s ease; /* Płynna zmiana przezroczystości */
}

.send-sign:hover {
  transform: scale(0.85);
}

.send-sign:hover::before {
  opacity: 0; /* Cień powoli zanika */
}



.message-field {
  background:#ffffff;
  border: 60px solid #ffffff; /* Cień */
  border-radius: 60px;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 10px rgb(0, 0, 0); /* Delikatny cień wokół pola */
  position: fixed;
  bottom: 90px; /* Ustawienie na dole okna */
  margin: 0 0;
  width: 95%;
  box-sizing: border-box;
  max-width: 1000px;
  left: 50%; /* Przesunięcie do środka */
  transform: translateX(-50%);
}

.zgloszenia tr {
  cursor: pointer;
}

.zgloszenia a{
  color: inherit; /* Zachowanie kolorów tekstu */
}

#chatForm{
  height: 10px;
  display: flex;
  flex-direction:row;
  gap: 40px;
  padding-top: 20px;
  justify-content: flex-end;
  width: 100%;
}

#photoForm{
  height: 10px;
  display: flex;
  flex-direction:row;
  gap: 20px;
  padding-top: 20px;
  width: 100%;
}

#photo-chatbot {
  margin-bottom: auto;
  margin-top: auto;
}

.chatbox {
  max-width: 1000px;
  display: flex;
  width: 80vw;
  overflow-y: auto; /* Pionowe przewijanie, jeśli wiadomości przekraczają wysokość */
  padding: 10px;
  border: 1px solid #ccc; /* Obramowanie */
  height: calc(70vh - 100px); /* Wysokość pełnego ekranu */
  scrollbar-width: none; /* Ukrywa pasek przewijania w Firefox */
  -ms-overflow-style: none;  /* Ukrycie paska przewijania w Internet Explorer */
  flex-direction: column-reverse; /* Odwraca kierunek wyświetlania */
}



.user-message {
  display: inline-block;
  background-color: #378e25;
  color: #ffffff;
  border-collapse: collapse;
  border: 5px solid #378e25;
  border-radius: 25px; /* Zaokrąglone rogi panelu */
  border-top-right-radius: 0%;
  margin-bottom: 20px;
  max-width: 90%;
  word-wrap: break-word; /* Zawijanie słów w wiadomościach */
  margin: 5px 0;
  align-self: flex-end; /* Wiadomość użytkownika wyrównana do prawej */
  text-align: right; /* Tekst wyrównany do prawej */
  margin-left: auto;
  margin-right: 0;
}

.bot-message {
  display: inline-block;
  background-color: #ffffff;
  color: #000;
  border-collapse: collapse;
  border: 5px solid #ffffff;
  border-radius: 25px; /* Zaokrąglone rogi panelu */
  border-top-left-radius: 0%;
  margin-bottom: 20px;
  max-width: 90%; /* Maksymalna szerokość wiadomości (70% szerokości okna czatu) */
  word-wrap: break-word; /* Zawijanie słów w wiadomościach */
  align-self: flex-start; /* Wiadomość chatbota wyrównana do lewej */
  text-align: left; /* Tekst wyrównany do lewej */
  margin-right: auto;
  margin-left: 0;
}

strong {
  font-weight: bold;
}

/* Styl dla każdej wiadomości */
.user-message, .bot-message {
  word-wrap: break-word; /* Zawijanie tekstu, gdy zbyt długi */
  padding: 10px;
  margin: 5px 0;
  min-width: 50px !important; /* Minimalna szerokość dymka */
}

.conversation {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Odstęp między wiadomościami */
  padding-top: 250px;
  flex-grow: 1;
}

@media only screen and (max-width: 600px) {
  .message-field {
    height: 5vh;
    bottom: 60px;
  }

  .chatbox {
    width: 95vw;
    height: calc(80vh - 90px); /* Wysokość pełnego ekranu */
  }

  #footer {
    width: 98%;
    font-size: 10px !important;
  }

  footer {
    height: 50px !important;
  }

  #user-email {
    width: 50%;
  }
  
  #photoForm {
    width: 100%;
  }
  
}

#user-email {
  width: 100%;
}

.table-border {
  border-collapse: collapse;
  border: 5px solid #ddd;
  border-radius: 16px; /* Zaokrąglone rogi panelu */
}

#rejestracja{
  color:#000;
}

.panel-suspect {
  padding: 40px;
  background-color: #304ebb8e !important;
  border-radius: 16px; /* Zaokrąglone rogi panelu */
  margin-top: 15px;
  color: #ffffff;
  display: block;
  margin-bottom: 20%;
  box-shadow: 4px 4px 10px rgb(0, 0, 0); /* Delikatny cień wokół pola */
  width:400px;
}

.panel-place {
  padding: 20px;
  background-color: #304ebb8e !important;
  border-radius: 16px; /* Zaokrąglone rogi panelu */
  width: 550px !important; /* Maksymalna szerokość panelu */
  margin-top: 15px;
  color: #ffffff;
  display: block;
  margin-bottom: 15px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0); /* Delikatny cień wokół pola */
}

.panel-time {
  padding: 20px;
  background-color: #304ebb8e !important;
  border-radius: 16px; /* Zaokrąglone rogi panelu */
  width: 550px !important; /* Maksymalna szerokość panelu */
  margin-top: 20px;
  color: #ffffff;
  height: 180px;
  display: block;
  margin-bottom: 150px;
  margin-left: 20px;
  margin-right: 110px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0); /* Delikatny cień wokół pola */
  left: 0;
}

.panel-civil {
  padding: 20px;
  background-color: #304ebb8e !important;
  border-radius: 16px; /* Zaokrąglone rogi panelu */
  width: 550px !important; /* Maksymalna szerokość panelu */
  margin-top: 75px;
  color: #ffffff;
  height: auto;
  display: block;
  margin-bottom: 60px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0); /* Delikatny cień wokół pola */
}

.time-container {
  display: flex;
  flex-direction:row;
  justify-content: center;
}

.civil-container {
  display: flex; /* Ustawia elementy obok siebie */
  flex-direction: row; /* Elementy będą ustawione w jednym wierszu */
  align-items: center; /* Wyrównuje elementy do góry */
  width: 100%; /* Upewnia się, że kontener zajmuje całą szerokość */
  margin-bottom: 150px;
  justify-content: center;
}

.panel-description {
  padding: 20px;
  background-color: #304ebb8e !important;
  border-radius: 16px; /* Zaokrąglone rogi panelu */
  width: 550px !important; /* Maksymalna szerokość panelu */
  margin-top: 10px;
  color: #ffffff;
  height: 350px;
  display: block;
  margin-bottom: 80px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0); /* Delikatny cień wokół pola */
  margin-left: 50px;
}

.description-container {
  display: flex; /* Ustawia elementy obok siebie */
  flex-direction: row; /* Elementy będą ustawione w jednym wierszu */
  align-items: flex-start; /* Wyrównuje elementy do góry */
  width: 100%; /* Upewnia się, że kontener zajmuje całą szerokość */
  justify-content: center;
}


.panel-perpetrators {
  padding: 20px;
  background-color: #304ebb8e !important;
  border-radius: 16px; /* Zaokrąglone rogi panelu */
  width: 550px !important; /* Maksymalna szerokość panelu */
  margin-top: 75px;
  color: #ffffff;
  height: auto;
  display: block;
  margin-bottom: 60px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0); /* Delikatny cień wokół pola */
  margin-left: 0;
}

.panel-photos {
  padding-top: 20px;
  background-color: #304ebb8e !important;
  border-radius: 16px; /* Zaokrąglone rogi panelu */
  width: 350px;
  margin-top: 75px;
  color: #ffffff;
  height: auto;
  display: block;
  margin-bottom: 60px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0); /* Delikatny cień wokół pola */
  margin-left: 0;
}

.perpetrators-container {
  display: flex;
  flex-direction:row;
  gap: 110px;
  margin-bottom: 100px;
}

.photos-container {
  display: flex;
  flex-direction:row;
  gap: 110px;
  margin-bottom: 50px;
}

.panel-sign {
  padding: 40px;
  background-color: #304ebb8e !important;
  border-radius: 16px; /* Zaokrąglone rogi panelu */
  margin-top: 15px;
  color: #ffffff;
  display: block;
  margin-bottom: 20%;
  box-shadow: 4px 4px 10px rgb(0, 0, 0); /* Delikatny cień wokół pola */
}

.panel-table {
  padding: 40px;
  background-color: #304ebb8e !important;
  border-radius: 16px; /* Zaokrąglone rogi panelu */
  margin-top: 50px;
  color: #ffffff;
  display: block;
  box-shadow: 4px 4px 10px rgb(0, 0, 0); /* Delikatny cień wokół pola */
  margin-left: 50px;
  margin-right: 50px;
}

.panel-table-report {
  padding: 40px;
  background-color: #304ebb8e !important;
  border-radius: 16px; /* Zaokrąglone rogi panelu */
  margin-top: 50px;
  color: #ffffff;
  display: block;
  box-shadow: 4px 4px 10px rgb(0, 0, 0); /* Delikatny cień wokół pola */
  margin-left: 50px;
  margin-right: 50px;
}

.panel-search {
  padding: 40px;
  background-color: #304ebb8e !important;
  border-radius: 16px; /* Zaokrąglone rogi panelu */
  width: 300px !important; /* Maksymalna szerokość panelu */
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px 10px rgb(0, 0, 0); /* Delikatny cień wokół pola */
}

.panel-witnesses {
  padding: 20px;
  background-color: #304ebb8e !important;
  border-radius: 16px; /* Zaokrąglone rogi panelu */
  width: 550px !important; /* Maksymalna szerokość panelu */
  margin-top: 75px;
  color: #ffffff;
  height: auto;
  display: block;
  margin-bottom: 60px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0); /* Delikatny cień wokół pola */
}

.witnesses-container, .place-container {
  display: flex; /* Ustawia elementy obok siebie */
  flex-direction: row; /* Elementy będą ustawione w jednym wierszu */
  gap: 60px; /* Dodaje odstęp między elementami */
  align-items: flex-start; /* Wyrównuje elementy do góry */
  width: 100%; /* Upewnia się, że kontener zajmuje całą szerokość */
  margin-bottom: 70px;
  justify-content: center;
}


.full-input, #data, #godzina, #liczba, #opis, .sprawca, #date-search, #liczba-swiadkow, .witness {
  margin-bottom: 15px; /* Odstęp poniżej każdego pola */
  border-radius: 4px; /* Zaokrąglone rogi pola */
  font-size: 20px; /* Rozmiar czcionki pola */
  border-color: #ffffff;
  color: #768cd194;
  width: 98%;
  height: auto;
  box-sizing: border-box;
}

.titleicon {
  display: flex; /* Wyświetla dzieci w jednej linii */
  align-items: center; /* Wyrównanie elementów w pionie */
  margin-bottom: 15px; /* Odstęp poniżej sekcji tytułu */
}

.half-input-container {
  display: flex; /* Wyświetla pola obok siebie */
  flex-direction: row; /* Zmieniamy układ na kolumnowy */
  gap: 0px;
  padding: 5px;
  width: 100%;
}

.half-input {
  flex: 2; /* Każde pole zajmuje równą część dostępnej przestrzeni */
  margin-bottom: 15px; /* Odstęp poniżej pół */
  border-radius: 4px; /* Zaokrąglone rogi pól */
  font-size: 20px; /* Rozmiar czcionki pół */
  border-color: #ffffff;
  color: #768cd194;
  box-sizing: border-box;
}

.full-input:focus, .half-input:focus, #data:focus, #godzina:focus, #liczba:focus, #opis:focus, .sprawca:focus, .witness:focus, #liczba-swiadkow:focus {
  outline: none; /* Usunięcie domyślnego podświetlenia przeglądarki */
  box-shadow: 0 0 7px rgb(68, 255, 0); /* Delikatny cień wokół pola */
}


thead {
  background-color: #f9f9f9;
}
th, td {
  padding: 8px;
  text-align: left;
}
th {
  font-weight: bold;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #142252;
  color: #e9e9e9;
}

tr {
  background-color: #e9e9e9;
  color: #142252;
}

#column-title{
  background-color: #378e25;
  color: #ffffff;
}

.formularz{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 90px 60px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  .formularz {
      flex-direction: column; /* Zmieniamy układ na kolumnowy */
  }

  .important{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .place-container, .time-container, .description-container, .perpetrators-container, .witnesses-container, .photos-container, .civil-container {
    flex-direction: column;
    margin: 30px auto;
    gap: 30px;
  }

  .panel-place, .panel-time, .panel-description, .panel-perpetrators, .panel-sign, .panel-witnesses, .panel_civil, .panel-photos{
    margin: 0 0;
  }

  .text-time h1, .text-time p, .text-perpetrators h1, .text-perpetrators p, .text-photos h1, .text-photos p{
    text-align: right;
    width: 100%;
  }

  .text-place,  .text-description, .text-witnesses{
    margin: 0 0;
    width: 100%;
  }

  .text-time, .text-perpetrators, .text-civil, .text-photos {
    margin: 0 0;
  }

  .important, .text-place, .panel-place, .map, .text-photos {
      order: 0; /* Element 1 teraz jest drugi */
  }

  .map{
    margin: 0 auto;
    width: 100% !important;
    padding: 0;
  }

  .text-time {
      order: 1;
  }

  .panel-time, .text-description, .panel-description, .panel-witnesses{
    order: 2;
  }
  .text-perpetrators {
      order: 3;
  }

  .panel-perpetrators {
    order: 4;
  }

  .text-witnesses {
    order: 5;
  }

  .panel-witnesses {
    order: 6;
  }

  .text-photos {
    order: 7;
  }

  .panel-photos {
    order: 8;
  }

  .button-container1 {
    order: 9;
  }

  .important-end {
    order: 10;
    width: 90%;
  }
}


#text-table {
  width: 100%;
  text-align: center;
}

.button-container1{
  display: flex;
  justify-content: center; /* Centrowanie w poziomie */
  align-items: center; /* Centrowanie w pionie */
  width: 100%; /* Ustawienie kontenera na pełną szerokość */
  margin-top: -60px;;
  margin-bottom: 100px;
}

.button-container2{
  display: flex;
  justify-content: center; /* Centrowanie w poziomie */
}

.button {
  height: 40px;
  width: auto; /* Szerokość przycisku ustawiona na 50% szerokości kontenera */
  padding: 10px 10px 10px 10px;
  background: #378e25;
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  font-family: Calibri, sans-serif;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.48);
  cursor: pointer;
  display: flex;
  justify-content: center; /* Centrowanie tekstu w poziomie */
  align-items: center; /* Centrowanie tekstu w pionie */
  box-sizing: border-box; /* Zapewnienie, że padding nie wpłynie na szerokość */
}

.suspect-form {
  margin-top: 150px;
}

/* Stylizacja kontenera dla inputa i etykiety */
.file-upload-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: transparent;
  color: #ffffff;
  max-width: 150px; /* Mniejsza szerokość kontenera */
  max-height: 200px; /* Mniejsza szerokość kontenera */
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

/* Stylizacja kontenera dla inputa i etykiety */
.file-upload-wrapper-chatbot {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: transparent;
  color: #ffffff;
  max-width: 150px; /* Mniejsza szerokość kontenera */
  max-height: 200px; /* Mniejsza szerokość kontenera */
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

/* Ukrycie domyślnego inputa */
.full-input-photo {
  display: none;
}

/* Stylizacja niestandardowego przycisku */
.custom-file-label {
  width: auto; /* Dopasowanie szerokości do zawartości */
  max-height: 40px; /* Ustaw minimalną szerokość przycisku */
  padding: 5px 10px; /* Mniejsze odstępy wewnątrz przycisku */
  background: #378e25;
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  font-family: Calibri, sans-serif;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.48);
  cursor: pointer;
  display: flex;
  justify-content: center; /* Centrowanie tekstu w poziomie */
  align-items: center; /* Centrowanie tekstu w pionie */
  box-sizing: border-box; /* Zapewnienie, że padding nie wpłynie na szerokość */
  text-align: center;
}

/* Stylizacja tekstu wyświetlającego nazwę pliku */
.file-name {
  font-size: 14px;
  color: #ffffff;
}



#come-back-button {
  width:auto;
  align-items: center;
  margin-bottom: 50px;
}

#report-come-back-button {
  width:30%;
  margin-left: auto;
  margin-right: auto;
}

#button1 { width: 20% }
.sb-title-icon{
  width: 30px;
  height: 30px;
}
.info-icon{
  width: 55px;
  height: 55px;
}
textarea{
  font-size: 16px;
  font-family: Calibri;
}
.sign{
  display: flex;
  flex-direction: row;
  gap: 30px;
}
footer {
  display: flex; /* or inline-flex */
  flex-direction: column;
  height: 80px;
  background-color: rgba(0, 112, 26, 0.496);
  color: white;
  border-top-style: solid;
  border-top-width: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-top: 100px;
}
#footer{
  color:white;
  font-size: 16px;
  text-align: center;
}
#emailLabel{
white-space: nowrap;
width: 100px;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a, .bar {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 50px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
#bar{
  color: white;
  font-size: 40px;
  font-weight: bold;
}
#baroption{
  font-size: 25px;
}
#barname{
  color: white;
  font-size: 30px;
  font-weight: medium;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.titleicon{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media all and (max-width: 400px) {
  .chatbox {
    margin-left: 0;
    padding-left: 0;
  }
}

@media all and (max-width: 1200px) {
main {
  flex-wrap: wrap;
  padding-left: 10%;
  padding-right: 10%;
}
header{ justify-content: space-around; }
nav, h5, #header, .title { display: none; }
#menu { display: block; }
#button1 { width: 40%; }
.formularz {
  flex-direction: column;
  align-items: center;
  gap: 20px 10px;
}
.sidebar {
  padding-top: 15px;
}

#user-email {
  width: 100%;
}

.photoForm {
  width: 100%;
}

}

@media all and (min-width: 1100px) {
  .sidebar{
    display: none;
    width: 0;
  }
}


.sidebar a {font-size: 18px;}


.naglowek {
  color: black;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

@media all and (max-width: 900px) {
  table.zgloszenia {
    width: 100%;
  }

  table.zgloszenia thead {
    display: none;
  }

  table.zgloszenia tbody {
    display: block;
  }

  table.zgloszenia tbody tr {
    display: block;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px; 
  }

  table.zgloszenia tbody td {
    display: block;
    text-align: left;
    height: 90px;
  }

  .zgloszenia td:nth-child(even) {
    background-color: #2daa001f;
  }

  .zgloszenia td:nth-child(even):hover {
    background-color: #2daa001f;
  }

  .zgloszenia td:hover {
    background-color: #142252;
    color: #e9e9e9;
  }

}



.submit-button, .edit-button, .suspect-button {
  height: auto;
  width: auto;
  padding: 5px 10px;
  background: #0004ff;
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  font-family: Calibri, sans-serif;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.48);
  cursor: pointer;
  margin: 10px 10px 5px 10px;
  align-items: center;
  display: flex;
}
.status {
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative;
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.status-select{
  width: 100px;
}



.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}




.centered-container {
  display: block;                /* Standardowy block layout */
  text-align: center; 
  margin-top: 100px;           /* Centrowanie tekstu */
}

.bootstrap-isolated .alert {
  width: 50%;
  margin: 20px auto;             /* Centrowanie tylko poziome */
}

.bootstrap-isolated .alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.bootstrap-isolated .alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.bootstrap-isolated .alert-dismissible .btn-close {
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.photo-gallery {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.event-photo {
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.suspects-gallery {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.suspect-photo {
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.suspects-table tr:hover, .suspects-table tr:nth-child(even):hover {
  background-color: #185007;
  color: #e9e9e9;
}

#no-hover-td:hover{
  background-color: white;
  color:#000
}

.suspects-table {
  border-collapse: collapse;
}

.suspects-table tr{
  background-color: #caeac3;
}

.suspects-table th{
  background-color: #647fe3;
  color: #ffffff;
}

.suspects-table tr:nth-child(even) {
  background-color: rgb(221, 246, 216);
}


.suspects-table tr:last-of-type td {
  border-bottom-right-radius: 0px;
}

.suspects-table th:first-child {
  border-top-left-radius: 16px;
}

.suspects-table th:last-child {
  border-top-right-radius: 16px;
}

.suspects-table tr:last-of-type td:first-child {
  border-bottom-left-radius: 16px;
}

.suspects-table tr:last-of-type td:last-child {
  border-bottom-right-radius: 16px;
}

#status-select {
  margin-bottom: 10px;
}