<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>PawsOnDuty - zgłoś zdarzenie</title>
    <link rel="shortcut icon" href="static/logo.png"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
    <!-- OBSŁUGA MAP -->
    <script src="{{ url_for('static', filename='js/mapscript.js') }}" alt=""></script>
</head>

<main>
Content soon
</main>
</body>
</html>
<div id="div"></div>
<footer>
  <p id="footer">Aplikacja webowa stworzona jako projekt z kursu Języki Programowania Aplikacji Internetowych AGH.</p>
  <p id="footer">© Maria Mostek, Patrycja Ruda, Filip Kuś. Kraków 2023.</p>
</footer>
</body>
</html>