<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="static/logo.png"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
    <script src="{{ url_for('static', filename='js/mapscript.js') }}" alt=""></script>
</head>

<body>
    <div id="mySidebar" class="sidebar">
        <br><br>
        <br><br>
        <a href="#"><img id="title-PawsOnDuty" data-tooltip="Przejdź do strony głównej" src="static/logo-napis.png" width="auto" height="80"></a>
        <br><br>
        
        {% if not session.get('zalogowany') %}
        <a id="baroption" href="{{ url_for('register') }}">Zarejestruj się</a>
        <a id="baroption" href="{{ url_for('logowanie') }}">Zaloguj się</a>
        <a id="baroption" href="{{ url_for('chatbot_clear') }}">Chatbot</a>
        {% else %}
        <a class="bar" id="barname">{{ session.get('name') }}</a>
        <br><br>
        <a id="baroption" href="{{ url_for('moje_zgloszenia') }}">Moje zgłoszenia</a>
        <a id="baroption" href="{{ url_for('wyloguj') }}">Wyloguj się</a>
        <a id="baroption" href="{{ url_for('chatbot') }}">Chatbot</a>
        {% endif %}
    </div>
    <header>
        <div id="logo">
            <a href="index.html"><img class="has-tooltip" data-tooltip="Przejdź do strony głównej" src="static/logo.png" width="90" height="90"></a><br>
        </div>
        <img id="menu" src="static/menu.png" onclick="openCloseNav()">
        <script src="{{ url_for('static', filename='js/sidebar.js') }}" alt=""></script>
        <div id="header">
            <a href="index.html"><img id="title-PawsOnDuty" data-tooltip="Przejdź do strony głównej" src="static/logo-napis.png" width="auto" height="65"></a><br>
        </div>
        <nav class="navbar navbar-dark bg-primary">
            {% if not zalogowany %}
            <a id="link1" class="has-tooltip" data-tooltip="Zarejestruj się" href=rejestracja.html>Zarejestruj się</a>
            <a id="link2" class="has-tooltip" data-tooltip="Zaloguj się" href=logowanie.html>Zaloguj się</a>
            {% else %}
            <span id="name">{{ imie }}</span>
            <a id="link2" class="has-tooltip" data-tooltip="Moje zgłoszenia" href="{{ url_for('moje_zgloszenia') }}">Moje zgłoszenia</a>   
            <a id="link1" class="has-tooltip" data-tooltip="Wyloguj się" href="{{ url_for('wyloguj') }}">Wyloguj się</a>
            {% endif %}
            <a id="link3" class="has-tooltip" data-tooltip="Chatbot" href="{{ url_for('chatbot') }}">Chatbot</a>
        </nav>  
    </header>  
    <main>
        <div class="chatbot">
            <div class="chatbot-title">
                <h1>Chatbot</h1>
                <p style="width:100%">Opowiedz swojemu osobistemu asystentowi, co się wydarzyło.</p>
            </div>
        
            <div class="chatbox">
                <div class="conversation">
                    {% for message in conversation %}
                        <p class="{{ 'user-message' if message.sender == 'user' else 'bot-message' }}">
                            <strong>{{ 'Ty:' if message.sender == 'user' else 'Chatbot:' }}</strong>
                            {% if message.sender == 'user' and message.message == 'Brak przesłanych zdjęć' %}
                                Brak przesłanych zdjęć
                            {% else %}
                                {{ message.message }}
                            {% endif %}
                        </p>
                    {% endfor %}
                </div>
                
                {% if witness_step %}
                    <p>Jeśli to możliwe, załącz zdjęcia ze zdarzenia:</p>
                {% endif %}
        
                <div class="message-field">
                    {% if witness_step %}
                        <form id="photoForm" action="{{ url_for('chatbot') }}" method="post" enctype="multipart/form-data">
                            <div class="titleicon">
                                <span class="sb-title" id="sb-title">Zdjęcia z miejsca zdarzenia (jpg, png):</span>
                            </div>
                            <div class="file-upload-wrapper-chatbot">
                                <input type="file" class="full-input-photo" id="photo-chatbot" name="photo" accept=".jpg, .jpeg, .png">
                                <label for="photo-chatbot" class="custom-file-label" id="custom-file-label">Wybierz plik</label>
                                <span class="file-name">Nie wybrano pliku</span>
                            </div>
                            <button class="button" type="button" id="submit-photo-button">Prześlij zdjęcie</button>
                            <p id="email-request" class="bot-message" style="display:none;">
                                <strong>Chatbot:</strong> Jeśli chcesz otrzymać potwierdzenie przesłania zgłoszenia, podaj swój adres email.
                            </p>
                            <input id="user-email" type="email" name="email" class="common-input-style" placeholder="Twój adres email" style="display:none;">
                            <button class="button" type="submit" style="display:none;" id="final-submit-button">Prześlij zgłoszenie</button>                       
                        </form>
                    {% else %}
                        <form id="chatForm" action="{{ url_for('chatbot') }}" method="post">
                            <input id="message-user" type="text" name="user_input" class="common-input-style" placeholder="Wpisz wiadomość">
                            <button class="send-sign" id="send" type="submit"></button>
                        </form>
                    {% endif %}
                </div>            
            </div>        
        </main>
        <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
        <script>
            const zalogowany = "{{ 'true' if session.get('zalogowany') else 'false' }}" === 'true';
            
            const submitPhotoButton = document.getElementById('submit-photo-button');
            const submitLabel = document.getElementById('sb-title');
            const choosingPhotoButton = document.getElementById('custom-file-label');
            const userEmailInput = document.getElementById('user-email');
            const finalSubmitButton = document.getElementById('final-submit-button');
            const chatConversation = document.querySelector('.conversation');  // Pobieramy element rozmowy
            const photoInput = document.getElementById('photo-chatbot'); // Pobieramy pole do przesyłania zdjęć
            const photoForm = document.getElementById('photoForm'); // Pobieramy formularz do przesyłania zdjęć
        
            submitPhotoButton.addEventListener('click', function() {
                // Hide input elements
                photoInput.style.display = 'none';
                submitPhotoButton.style.display = 'none';
                submitLabel.style.display = 'none';
                choosingPhotoButton.style.display = 'none';

                // Create and append a message indicating whether a photo was uploaded or not
                const userPhotoMessage = document.createElement('p');
                userPhotoMessage.classList.add('user-message');
                
                // Add user photo or message about absence of photo
                if (photoInput.files.length > 0) {
                    const file = photoInput.files[0];
                    const reader = new FileReader();

                    reader.onload = function(e) {
                        userPhotoMessage.innerHTML = `<strong>Ty:</strong> <img src="${e.target.result}" style="max-width: 200px; max-height: 200px;"/>`;
                        chatConversation.appendChild(userPhotoMessage);
                        chatConversation.scrollTop = chatConversation.scrollHeight;
                    };

                    reader.readAsDataURL(file);
                } else {
                    userPhotoMessage.innerHTML = '<strong>Ty:</strong> Brak przesłanych zdjęć';
                    chatConversation.appendChild(userPhotoMessage);
                    chatConversation.scrollTop = chatConversation.scrollHeight;
                }

                // If user is not logged in, show email request message
                if (!zalogowany) {
                    const emailRequestMessage = document.getElementById('email-request');
                    emailRequestMessage.style.display = 'block';
                    chatConversation.appendChild(emailRequestMessage);
                    
                    // Show email input and final submit button
                    userEmailInput.style.display = 'block';
                } else {
                    // Directly show the final submit button if logged in
                    finalSubmitButton.style.display = 'block';
                }
                
                // Always show the final submit button
                finalSubmitButton.style.display = 'block';
            });
        </script>    
    </body>
</html>
