<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>PawsOnDuty - wyszukiwanie</title>
        <link rel="shortcut icon" href="static/logo.png"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
    </head>
    <body>
      <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <br><br>
        <br><br>
        <a class="bar" id="bar" href="index.html">PawsOnDuty</a>
        <br><br>
        {% if zalogowany %}
        <a class ="bar" id="barname">{{ imie }}</span>
          <br><br>
          <a id="baroption" href="index.html">Wyszukiwanie zgłoszenia</a>
          <a id="baroption" href="{{ url_for('wyloguj') }}">Wyloguj się</a>
        {% else %}
        <a id="baroption" href=rejestracja.html>Zarejestruj się</a>
        <a id="baroption" href=logowanie.html>Zaloguj się</a>
        {% endif %}
      </div>
    {% if komunikat %}
    <div class="komunikat">{{ komunikat }}</div>
{% endif %}
<header>
   <a href = ><img class="has-tooltip" data-tooltip="Przejdź do strony głównej" src="static/logo.png" width="150" height="150"></a><br>
    <img id="menu" src="static/menu.png" onclick="openNav()">
        <!-- OBSŁUGA SIDEBAR MENU -->
        <script src="{{ url_for('static', filename='js/sidebar.js') }}" alt=""></script>
        
      <div id="header">
      <a href = "index.html"><h1 class="title has-tooltip" data-tooltip="Przejdź do strony głównej">PawsOnDuty</h1></a>
      <h5>Powered by Core-Oho-Duh</h5>
      </div>
  </header>
  <nav>

    {% if zalogowany %}
    <span id="name">{{ imie }}</span>
    <a id="link2" class="has-tooltip" data-tooltip="Wyszukiwanie zgłoszenia" href="index.html">Wyszukiwanie zgłoszenia</a>   
    <a id="link1" class="has-tooltip" data-tooltip="Wyloguj się" href="{{ url_for('wyloguj') }}">Wyloguj się</a>
    {% else %}
    <a id="link1" href=rejestracja.html class="has-tooltip" data-tooltip="Zarejestruj się">Zarejestruj się</a>
    <a id="link2" href=logowanie.html class="has-tooltip" data-tooltip="Zaloguj się">Zaloguj się</a>
    {% endif %}
  </nav>
  <main id="mainlog">
  
      <h1 id="log">Wyszukiwanie zgłoszenia</h1>
      <br>
      {% if komunikat %}
      <p style="color: red;">{{ komunikat }}</p>
      {% endif %}         
         
      <form action="/zgloszenia.html" method="GET" id="formsearch">
              <div class="sign" id="search">
                <label for="data">Data:</label>
                <input type="date" id="data" name="data" required><br><br>
              </div> <br><br>

                <input class="button" type="submit" value="Wyszukaj">
            </form>
		</main> <div class="tooltip"></div>
    <!-- OBSŁUGA TOOLTIPÓW -->
    <script src="{{ url_for('static', filename='js/tooltip.js') }}" alt=""></script> 
		<div id="div"></div>
		<footer>
			<p id="footer">Aplikacja webowa stworzona jako projekt z kursu Języki Programowania Aplikacji Internetowych AGH.</p>
			<p id="footer">© Maria Mostek, Patrycja Ruda, Filip Kuś. Kraków 2023.</p>
		</footer>
    </body>
</html>