<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>PawsOnDuty - wyszukiwanie</title>
        <link rel="shortcut icon" href="static/logo.png"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <br><br>
            <a id="baroption" href="index.html">Wyszukiwanie zgłoszenia</a>
            <a id="baroption" href="{{ url_for('wyloguj') }}">Wyloguj się</a>
            <br><br>
            <a href="index.html"><img id="title-PawsOnDuty" data-tooltip="Przejdź do strony głównej" src="static/logo-napis.png" width="auto" height="80"></a>
            <br><br>
            <a class="bar" id="barname">{{ session.get('name') }}</a>
            <br>  <!-- Używamy 'name' zamiast 'imie' -->
            <br>
        </div>
        
        {% if komunikat %}
            <div class="komunikat">{{ komunikat }}</div>
        {% endif %}
        
        <header>
            <div id="logo">
            <a href = "index.html"><img class="has-tooltip" data-tooltip="Przejdź do strony głównej" src="static/logo.png" width="90" height="90"></a><br>
            <img id="menu" src="static/menu.png" onclick="openCloseNav()">
            <!-- OBSŁUGA SIDEBAR MENU -->
            <script src="{{ url_for('static', filename='js/sidebar.js') }}" alt=""></script>
        <div id="header">
            <a href = ><img id="title-PawsOnDuty" data-tooltip="Przejdź do strony głównej" src="static/logo-napis.png" width="auto" height="65"></a><br>
        </div> 
        <nav class="navbar navbar-dark bg-primary">
            <span id="name">{{ imie }}</span>  
                <a id="link2" class="has-tooltip" data-tooltip="Wyszukiwanie zgłoszenia" href="index.html">Wyszukiwanie zgłoszenia</a>   
                <a id="link1" class="has-tooltip" data-tooltip="Wyloguj się" href="{{ url_for('wyloguj') }}">Wyloguj się</a>
            </nav> 
        </header> 
        
        <main id="mainlog">
            <h1 id="log">Wyszukaj zgłoszenie</h1>
            <br>
            {% if komunikat %}
                <p style="color: red;">{{ komunikat }}</p>
            {% endif %}         
            
            <form action="{{ url_for('zgloszenia') }}" method="GET" id="formsearch">
                <div class="panel-search">
                    <div class="search" id="search">
                        <div class="titleicon">
                            <span class="sb-title">Data:</span>
                        </div>
                        <input type="date" class="full-input" id="date-search" name="data" required><br><br>
                    </div>
                    <input class="button" type="submit" value="Wyszukaj">
            </form>
        </main>
        
        <div class="tooltip"></div>
        <!-- OBSŁUGA TOOLTIPÓW -->
        <script src="{{ url_for('static', filename='js/tooltip.js') }}" alt=""></script> 
        <div id="div"></div>
        
        <footer>
            <p id="footer">Aplikacja webowa stworzona jako projekt pracy inżynierskiej AGH.</p>
            <p id="footer">© Maria Mostek, Patrycja Ruda. Kraków 2024.</p>
        </footer>
    </body>
</html>