<!DOCTYPE html>
<html lang="pl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="static/logo.png"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
    <title>PawsOnDuty - rejestracja</title>
</head>

<body>
    {% if 'error_message' in session %}
    <div class="error-message">{{ session['error_message'] }}</div>
    {% set _ = session.pop('error_message', None) %}
    {% endif %}
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <br><br>
        <br><br>
        <a href = ><img id="title-PawsOnDuty" data-tooltip="Przejdź do strony głównej" src="static/logo-napis.png" width="auto" height="80"></a>
        <br><br>
        {% if not zalogowany %}
        <a id="baroption" href="{{ url_for('register') }}">Zarejestruj się</a>
        <a id="baroption" href="{{ url_for('logowanie') }}">Zaloguj się</a>
        <a id="baroption" href="{{ url_for('chatbot_clear') }}">Chatbot</a>
        {% else %}
        <a class ="bar" id="barname">{{ imie }}</span>
        <br><br>
        <a id="baroption" href="{{ url_for('moje_zgloszenia') }}">Moje zgłoszenia</a>
        <a id="baroption" href="{{ url_for('wyloguj') }}">Wyloguj się</a>
        <a id="baroption" href="chatbot.html">Chatbot</a>
        {% endif %}
      </div>
    {% if komunikat %}
    <div class="komunikat">{{ komunikat }}</div>
{% endif %}
<header>
    <div id="logo">
        <a href = "index.html"><img class="has-tooltip" data-tooltip="Przejdź do strony głównej" src="static/logo.png" width="90" height="90"></a><br>
    </div>
    <img id="menu" src="static/menu.png" onclick="openCloseNav()">
        <!-- OBSŁUGA SIDEBAR MENU -->
        <script src="{{ url_for('static', filename='js/sidebar.js') }}" alt=""></script>
    <div id="header">
        <a href = "index.html"><img id="title-PawsOnDuty" data-tooltip="Przejdź do strony głównej" src="static/logo-napis.png" width="auto" height="65"></a><br>
    </div>
    <nav class="navbar navbar-dark bg-primary">
        {% if not zalogowany %}
        <a id="link1" class="has-tooltip" data-tooltip="Zarejestruj się" href=rejestracja.html>Zarejestruj się</a>
        <a id="link2" class="has-tooltip" data-tooltip="Zaloguj się" href=logowanie.html>Zaloguj się</a>
        {% else %}
        <span id="name">{{ imie }}</span>
        <a id="link2" class="has-tooltip" data-tooltip="Moje zgłoszenia" href="{{ url_for('moje_zgloszenia') }}">Moje zgłoszenia</a>   
        <a id="link1" class="has-tooltip" data-tooltip="Wyloguj się" href="{{ url_for('wyloguj') }}">Wyloguj się</a>
        {% endif %}
        <!-- Nowy przycisk do chatbota -->
        <a id="link3" class="has-tooltip" data-tooltip="Chatbot" href="{{ url_for('chatbot') }}">Chatbot</a>
    </nav>  
</header>  

<main id="mainlog">
    <br><br><br>
    <h1>Zarejestruj się</h1>
    {% if komunikat %}
    <p style="color: red;">{{ komunikat }}</p>
    {% endif %}
   
    <form method="POST">
        <div class="panel-sign">
            <div class="titleicon">
                <span class="sb-title">Imię:</span>
            </div>
            <input type="text" class="full-input" id="suspect_name" name="suspect_name" required>

            <div class="titleicon">
                <span class="sb-title">Nazwisko:</span>
            </div>
            <input type="text" class="full-input" id="surname" name="surname" required>

            <div class="titleicon">
                <span class="sb-title">Adres e-mail:</span>
            </div>
            <input type="email" class="full-input" id="email" name="email" required>


            <div class="titleicon">
                <span class="sb-title">Login:</span>
            </div>
            <input type="text" class="full-input" id="login" name="login" required>
            <br>
            <div class="titleicon">
                <span class="sb-title">Hasło:</span>
            </div>
            <input type="password" class="full-input" id="password" name="password" required><br><br>
            <br>
            <div id="rejestracja">Masz już konto?   <a id="link3" href=logowanie.html>Zaloguj się</a></div>
            <br>
            <div class="button-container2">
                <input id="button3" class="button" type="submit" value="Zarejestruj się">
            </div>


        
        </div>


    </form>
    <br>
 
</main> <div class="tooltip"></div>
    <!-- OBSŁUGA TOOLTIPÓW -->
    <script src="{{ url_for('static', filename='js/tooltip.js') }}" alt=""></script> 
<div id="div"></div>
<footer>
    <p id="footer">Aplikacja webowa stworzona jako projekt pracy inżynierskiej AGH.</p>
    <p id="footer">© Maria Mostek, Patrycja Ruda. Kraków 2024.</p>
</footer>
</body>
</html>