<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularz podejrzanego</title>
</head>
<body>
    <h1>Dodaj podejrzanego</h1>
    <form action="{{ url_for('handle_suspects') }}" method="POST" enctype="multipart/form-data">
        <label for="name">Imię:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="surname">Nazwisko:</label>
        <input type="text" id="surname" name="surname" required><br>

        <label for="address">Adres:</label>
        <input type="text" id="address" name="address" required><br>

        <label for="birthdate">Data urodzenia:</label>
        <input type="date" id="birthdate" name="birthdate"><br>

        <label for="photo">Zdjęcie podejrzanego (jpg, png):</label>
        <input type="file" id="photo" name="photo" accept=".jpg, .jpeg, .png"><br>

        <!-- Ukryte pole na report_id -->
        <input type="hidden" id="report_id" name="report_id" value="{{ report_id }}"><br>

        <input type="submit" value="Zapisz podejrzanego">
    </form>
</body>
</html>
