<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>PawsOnDuty - wyszukiwanie</title>
        <link rel="shortcut icon" href="static/logo.png"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <br><br>
            <br><br>
            <a href="index.html"><img id="title-PawsOnDuty" data-tooltip="Przejdź do strony głównej" src="static/logo-napis.png" width="auto" height="80"></a>
            <br><br>
            <a class="bar" id="barname">{{ session.get('name') }}</a>
            <br>
            <a id="baroption" href="index.html">Wyszukiwanie zgłoszenia</a>
            <a id="baroption" href="{{ url_for('wyloguj') }}">Wyloguj się</a>
        </div>
        {% if komunikat %}
            <div class="komunikat">{{ komunikat }}</div>
        {% endif %}
        
        <header>
            <div id="logo">
            <a href = "{{ url_for('przegladanie') }}"><img class="has-tooltip" data-tooltip="Przejdź do strony głównej" src="{{ url_for('static', filename='logo.png') }}" width="90" height="90"></a><br>
            </div>
            <img id="menu" src="static/menu.png" onclick="openCloseNav()">
                <!-- OBSŁUGA SIDEBAR MENU -->
                <script src="{{ url_for('static', filename='js/sidebar.js') }}" alt=""></script>
            <div id="header">
                <a href = "{{ url_for('przegladanie') }}"><img id="title-PawsOnDuty" data-tooltip="Przejdź do strony głównej" src="{{ url_for('static', filename='logo-napis.png') }}" width="auto" height="65"></a><br>
            </div> 
            <nav class="navbar navbar-dark bg-primary">
                <span id="name">{{ imie }}</span>    
                <a id="link1" class="has-tooltip" data-tooltip="Wyloguj się" href="{{ url_for('wyloguj') }}">Wyloguj się</a>
            </nav> 
        </header> 
  <main id="mainlog">
    {% if selected_date %}
    <h1 id="log">Zgłoszenia dla wybranej daty: {{ selected_date }}</h1>
    {% endif %}

    {% if zgloszenia %}
    <div class="panel-table">            
        <table class="zgloszenia" id="link-table">
            <thead>
                <tr id="column-title">
                    <th>Tytuł</th>
                    <th>Opis zdarzenia</th>
                    <th>Adres</th>
                    <th>Data</th>
                    <th>Sprawcy</th>
                    <th>Świadkowie</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for zgloszenie in zgloszenia %}
                <tr data-url="{{ url_for('report', report_id=zgloszenie[0]) }}">
                    <td><a href="{{ url_for('report', report_id=zgloszenie[0]) }}">{{ zgloszenie[1] }}</a></td>
                    <td>{{ zgloszenie[2] }}</td>
                    <td>{{ zgloszenie[3] }}</td>
                    <td>{{ zgloszenie[4] }}</td>
                    <td>{{ zgloszenie[5] }}</td>
                    <td>{{ zgloszenie[6] }}</td>
                    <td>{{ zgloszenie[7] }}</td>
<script>
function showFields(zgloszenieId) {
    const statusElement = document.querySelector(`.status[data-zgloszenie-id="${zgloszenieId}"]`);
    const editButton = statusElement.querySelector('.edit-button');
    const selectElement = statusElement.querySelector('.status-select');
    const submitButton = statusElement.querySelector('.submit-button');

    editButton.style.display = "none";
    selectElement.style.display = "block";
    submitButton.style.display = "block";
}
</script>
<td class="status" data-zgloszenie-id="{{ zgloszenie[0] }}" data-aktualny-status="{{ zgloszenie[11] }}">
  </td>
 </tr>
    {% endfor %}
            </tbody>
            </table>
    </div>
        {% else %}
            <p style="text-align: center">Brak zgłoszeń</p><br><br>
        {% endif %}
        <div class="link">
            <a id="come-back-button" href="przegladanie.html" class="button">Wróć do wyszukiwania zgłoszeń</a> 
        </div> <br>
    </main><div class="tooltip"></div>
    <!-- OBSŁUGA TOOLTIPÓW -->
    <script src="{{ url_for('static', filename='js/tooltip.js') }}" alt=""></script> 
      <script>
        document.querySelectorAll('#link-table tr').forEach(row => {
            row.addEventListener('click', () => {
                const url = row.getAttribute('data-url');
                if (url) {
                    window.location.href = url;
                }
            });
        });
    </script>
    

      <footer>
        <p id="footer">Aplikacja webowa stworzona jako projekt pracy inżynierskiej AGH.</p>
        <p id="footer">© Maria Mostek, Patrycja Ruda. Kraków 2024.</p>
      </footer>
    </body>
</html>