<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>PawsOnDuty - wyszukiwanie</title>
        <link rel="shortcut icon" href="static/logo.png"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
    </head>
    <body>
      <body>
        <div id="mySidebar" class="sidebar">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
          <br><br>
          <br><br>
          <a class="bar" id="bar" href="index.html">PawsOnDuty</a>
          <br><br>
          {% if zalogowany %}
          <a class ="bar" id="barname">{{ imie }}</span>
            <br><br>
          <a id="baroption" href="index.html">Wyszukiwanie zgłoszenia</a>
          <a id="baroption" href="{{ url_for('wyloguj') }}">Wyloguj się</a>
          {% else %}
          <a id="baroption" href=rejestracja.html>Zarejestruj się</a>
          <a id="baroption" href=logowanie.html>Zaloguj się</a>
          {% endif %}
        </div>
      {% if komunikat %}
      <div class="komunikat">{{ komunikat }}</div>
  {% endif %}
  <header>
     <a href = "index.html"><img class="has-tooltip" data-tooltip="Przejdź do strony głównej" src="static/logo.png" width="150" height="150"></a><br>
      <img id="menu" src="static/menu.png" onclick="openNav()">
          <!-- OBSŁUGA SIDEBAR MENU -->
          <script src="{{ url_for('static', filename='js/sidebar.js') }}" alt=""></script>
      <div id="header">
      <a href = "index.html"><h1 class="title has-tooltip" data-tooltip="Przejdź do strony głównej">PawsOnDuty</h1></a>
      <h5>Powered by Core-Oho-Duh</h5>
      </div>
  </header>
  <nav>
    {% if zalogowany %}
    <span id="name">{{ imie }}</span>
    <a id="link2" class="has-tooltip" data-tooltip="Wyszukiwanie zgłoszenia" href="index.html">Wyszukiwanie zgłoszenia</a>   
    <a id="link1" class="has-tooltip" data-tooltip="Wyloguj się" href="{{ url_for('wyloguj') }}">Wyloguj się</a>
    {% else %}
    <a id="link1" href=rejestracja.html class="has-tooltip" data-tooltip="Zarejestruj się">Zarejestruj się</a>
    <a id="link2" href=logowanie.html class="has-tooltip" data-tooltip="Zaloguj się">Zaloguj się</a>
    {% endif %}
  </nav>
  <main id="mainlog">
    {% if zgloszenia %}
    <h1 id="log">Zgłoszenia dla wybranej daty: {{ zgloszenia[0][6] }}</h1>
      <br>
      {% if komunikat %}
      <p style="color: red;">{{ komunikat }}</p>
      {% endif %}            
      <table class="zgloszenia">
        <thead>
            <tr>
                <th>Opis sprawcy</th>
                <th>Opis zdarzenia</th>
                <th>Liczba sprawców</th>
                <th>Zgłoszenie ID</th>
                <th>Adres</th>
                <th>Godzina zdarzenia</th>
                <th>Data zdarzenia</th>
                <th>Miasto</th>
                <th>Województwo</th>
                <th>Kod pocztowy</th>
                <th>Numer lokalu</th>
                <th>Status</th> <!-- Dodaj kolumnę status -->
              </tr>
        </thead>
        <tbody>
            {% for zgloszenie in zgloszenia %}
            <tr>
              <td>{{ zgloszenie[0] }}</td>
              <td>{{ zgloszenie[1] }}</td>
              <td>{{ zgloszenie[2] }}</td>
              <td>{{ zgloszenie[3] }}</td>
              <td>{{ zgloszenie[4] }}</td>
              <td>{{ zgloszenie[5] }}</td>
              <td>{{ zgloszenie[6] }}</td>
              <td>{{ zgloszenie[7] }}</td>
              <td>{{ zgloszenie[8] }}</td>
              <td>{{ zgloszenie[9] }}</td>
              <td>{{ zgloszenie[10] }}</td>
               <td>{{ zgloszenie[11] }}</td> <!-- Wyświetl status -->
               <script>
function showFields(zgloszenieId) {
    const statusElement = document.querySelector(`.status[data-zgloszenie-id="${zgloszenieId}"]`);
    const editButton = statusElement.querySelector('.edit-button');
    const selectElement = statusElement.querySelector('.status-select');
    const submitButton = statusElement.querySelector('.submit-button');

    editButton.style.display = "none";
    selectElement.style.display = "block";
    submitButton.style.display = "block";
}
                </script>
    <td class="status" data-zgloszenie-id="{{ zgloszenie[3] }}" data-aktualny-status="{{ zgloszenie[11] }}">
      <div class="button-container">
        <div>
          <button class="edit-button" onclick="showFields('{{ zgloszenie[3] }}')">Edytuj</button>
          <select class="status-select" name="status" data-zgloszenie-id="{{ zgloszenie[3] }}" style="display: none">
              <option value="przyjęto">przyjęto</option>
              <option value="zindentyfikowano">zindentyfikowano</option>
              <option value="zakończono">zakończono</option>
              <option value="porzucono">porzucono</option>
          </select>
        </div>
        <button class="submit-button" onclick="submitChanges('{{ zgloszenie[3] }}')" style="display: none">Zatwierdź</button>
      </div>
    </td>
    
</tr>
{% endfor %}
          </tbody>
      </table>
        {% else %}
        <p>Brak zgłoszeń dla wybranej daty.</p>
        {% endif %}
        <br><br>
        <div><a id="link3" href=index.html class="has-tooltip" data-tooltip="Wróć do strony głównej">Wróć do strony głównej</a> </div> <br>
		</main><div class="tooltip"></div>
    <!-- OBSŁUGA TOOLTIPÓW -->
    <script src="{{ url_for('static', filename='js/tooltip.js') }}" alt=""></script> 
		<div id="div"></div>
    <script>
      function submitChanges(zgloszenieId, nazwaTabeli) {
          const statusElement = document.querySelector(`.status[data-zgloszenie-id="${zgloszenieId}"]`);
          const editButton = statusElement.querySelector('.edit-button');
          const selectElement = statusElement.querySelector('.status-select');
          const submitButton = statusElement.querySelector('.submit-button');
      
          const newStatus = selectElement.value;
      
          fetch('/update_status', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                  zgloszenieId: zgloszenieId,
                  nazwaTabeli: nazwaTabeli,
                  newStatus: newStatus,
              }),
          })
              .then(response => {
                  if (response.ok) {
                      // Aktualizacja statusu na stronie bez ponownego ładowania
                      statusElement.setAttribute('data-aktualny-status', newStatus);
                      // Zmiana widoczności elementów
                      editButton.style.display = "block";
                      selectElement.style.display = "none";
                      submitButton.style.display = "none";
                  } else {
                      console.error('Wystąpił błąd podczas aktualizacji statusu');
                  }
              })
              .catch(error => {
                  console.error('Wystąpił błąd podczas aktualizacji statusu', error);
              });
      }
      </script>
      
		<footer>
			<p id="footer">Aplikacja webowa stworzona jako projekt z kursu Języki Programowania Aplikacji Internetowych AGH.</p>
			<p id="footer">© Maria Mostek, Patrycja Ruda, Filip Kuś. Kraków 2023.</p>
		</footer>
    </body>
</html>